.o_toast {
    .toast {
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 1054;
        min-width: 300px;
        transition: all 1s;

        .toast-body {
            background-color: rgba(255, 255, 255, 0.85);
        }

        &.show {
            top: 65px;
        }
    }
}
