header {
    background-color: #f1f1f1;
    text-align: center;

    .top_nav {
        overflow: hidden;
        background-color: #333;

        a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover {
                background-color: #ddd;
                color: black;
            }
        }
    }
}
